<ion-view>
  <ion-content>
      <div class="padding vertical-center">
              <!-- <img ng-click="changeView('Recom',brain)" src="img/brain2.svg"></img><br> -->
            <center>
                <div>
                    <img src="img/brain2.svg" ng-click="changeView('Recom',brain)" style="height:200px" alt="Haz click aqui para generar la lista"/><br>
                    <label class="center">
                      Haz click aqui para generar la lista de reproducci&oacute;n
                    </label>
                </div>
            </center>
      </div>
  </ion-content>
</ion-view>
